<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <test name="Njuskalo Selenium TestNG Test">
        <classes>
            <class name="NjuskaloLoginTest"/>
            <class name="NjuskaloSearchTest"/>
            <class name="NjuskaloCategoryTest"/>
            <class name="NjuskaloSubCategoryTest"/>
            <class name="NjuskaloLocationFilterTest"/>
        </classes>
    </test>
</suite>
